{% extends 'catalog/base.html' %}


{% block content %}
    <h1><span class="attribute">Title</span>{{book.title}}</h1>
    <ul class="book_details">
        <li><span class="attribute">Author</span> {{book.author}} </li>
        <li><span class="attribute">Summary</span> {{book.summary}} </li>
        <li><span class="attribute">ISBN</span> {{book.isbn}} </li>
        <li><span class="attribute">Language</span> {{book.languages.all|join:', '}} </li>
        <li><span class="attribute">Genres</span> {{book.genres.all|join:', '}} </li>
    </ul>
    <section class="copies">
        {% with copies.count as total %}
            <h2>{{total}} Copie{{total|pluralize}}</h2>
        {% endwith %}
            <ul class="book_copies">
            {% for copie in copies %}
                <li class="copie">
                    <h4 class="{{copie.status}}"> {{copie.get_status_display}} </h4>
                    <p>Id:{{copie.unique_id}}</p>
                    {% if request.user.is_authenticated and copie.status == 'a' %}
                        <a href={% url 'borrow-book' copie.unique_id%}>Borrow</a>
                    {% endif %}
                </li>
            {% empty %}
                <p>No Copies for this book.</p>    
            {% endfor %}
            </ul>
    </section> 
{% endblock content %}